:root {
	--var-clr-purple-light: #8A2BE2;
	--var-clr-purple-dark: #291B3E;
	--var-clr-gradient: linear-gradient(to bottom, var(--var-clr-purple-light), var(--var-clr-purple-dark));
	--var-border-radius: 7px;
	--var-font-clamp-medium: clamp(1.1em, 3vw, 1.5em);
	--var-font-clamp-big: clamp(2em, 6vw, 4em);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

html {
	background: var(--var-clr-gradient);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	font-family: "Roboto Mono", monospace;
	font-weight: 300;
	padding-top: clamp(50px, 15vh, 150px);
	color: white;
}

h1 {
	margin-bottom: 50px;
	font-weight: 300;
	font-size: var(--var-font-clamp-big);
	text-align: center;
	text-shadow: 5px 5px 6px rgba(0 0 0 / .7);
}

h2 {
	font-size: var(--var-font-clamp-medium);
}
