:root {
	--var-clr-purple-light: #8A2BE2;
	--var-clr-purple-dark: #291B3E;
	--var-clr-purple-light-alpha: rgba(138 43 226 / .5);
	--var-clr-purple-dark-alpha: rgba(41 27 62 / .5);
	--var-clr-gradient: linear-gradient(to bottom, var(--var-clr-purple-light), var(--var-clr-purple-dark));
	--var-clr-gradient-alpha: linear-gradient(to bottom, var(--var-clr-purple-light-alpha), var(--var-clr-purple-dark-alpha));
	--var-border-radius: 7px;
	--var-font-clamp-medium: clamp(1.1em, 3vw, 1.5em);
	--var-font-clamp-big: clamp(2em, 6vw, 4em);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

html {
	background: var(--var-clr-gradient);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	font-family: "Roboto Mono", monospace;
	font-weight: 300;
	padding-top: 30px;
}

h1 {
	margin-bottom: 50px;
	font-weight: 300;
	font-size: var(--var-font-clamp-big);
	text-align: center;
	text-shadow: 5px 5px 6px rgba(0 0 0 / .7);
}

h2 {
	font-size: var(--var-font-clamp-medium);
}

.fieldset {
	display: flex;
	flex-direction: column;
	padding-inline: clamp(7px, 2vw, 20px);
	padding-block: clamp(20px, 4vw, 50px);
	margin: auto;
	width: min(75vw, 600px);
	background: rgba(0 0 0 / .2);
	border-radius: var(--var-border-radius);
	align-items: center;
	text-align: center;
	gap: 50px;
}

.button {
	border: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	padding: 10px;
	width: min(75%, 500px);
	font-weight: 700;
	font-size: var(--var-font-clamp-medium);
	background: var(--var-clr-purple-light);
	border-radius: var(--var-border-radius);
	transition: transform ease-in 50ms;
}

.button:active {
	transform: scale(.95);
}

#alura {
	position: absolute;
	bottom: -30px;
	right: -160px;
	transform: scale(.3);
}
