.wrapper {
	display: flex;
	justify-content: space-evenly;
	width: min(90%, 500px);
}

.stepper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: clamp(50px, 20%, 80px);
	border-radius: var(--var-border-radius);
}

.grade {
	border: none;
	color: inherit;
	font: inherit;
	background: var(--var-clr-purple-light);
	font-size: var(--var-font-clamp-big);
	text-align: center;
}

.spin {
	padding: 0;
	width: 100%;
	background: var(--var-clr-purple-dark);
	border-radius: 0px;;
}
